.postDiv {
    padding: 10px;
    max-width: var(--contentWidth);
    margin: auto;
}

.postDiv iframe {
    max-width: 95%;
    margin: auto;
    display: block;
}

.postGoToURL, .postTime {
    color: var(--fadedColor);
}

.postMiddle {
    position: relative;
    top: -10px;
}

.postDiv img {
    max-width: 95%;
    max-height: 900px;
}

.postDiv .sortButtons {
    margin-top: 20px;
}

.postDivBody {
    word-wrap: break-word;
}

.postDivBody a {
    color: rgb(0, 225, 255);
}

.postDiv .sortButtons {
    flex-direction: row;
}

.postDiv .sortButton {
    border-right: 1px solid var(--fadedColor);
    border-top: 1px solid var(--fadedColor);
    border-bottom: none;
}

.postDiv .sortButton:first-child {
    border-left: 1px solid var(--fadedColor);
}