.postThumbnail {
    min-width: 70px;
    max-width: 70px;
    max-height: 70px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.postThumbnail img {
    height: 70px;
    width: auto;
    margin: auto;
}

.postLink {
    border: 1px solid var(--outlineColor);
    padding: 10px;
    display: flex;
    flex-direction: row;
    margin: 5px;
    color: white;
    overflow: hidden;
}

.postLink iframe {
    max-width: 100%;
    margin: auto;
    display: block;
}

.postLinkContent {
    max-width: 100%;
}

.postLink.stickied {
    border: 1px solid rgb(80, 236, 17);
}

.postLinkTitle {
    padding-right: 10px;
    display: inline-block;
}

.postLinkAuthor, .postLinkDomain, .postLinkOpen {
    color: var(--fadedColor);
    font-size: 0.9em;
}

.postLinkOpen {
    cursor: pointer;
}

.postLinkOpen:hover {
    text-shadow: 0px 0px 2px white;
}

.postLinkMiddle {
    margin: 5px 0px;
}

.postLinkBody {
    overflow: hidden;
    word-wrap: break-word;
    height: 0px;
    max-width: 90%;
}

.postLinkBody.open {
    height: auto;
}

.postLinkBody img {
    max-width: 95%;
    max-height: 900px;
}

.postLinkBody a {
    color: rgb(0, 225, 255);
}

.postLinkFooter {
    font-size: 0.9em;
}