.sortButtons {
    display: flex;
    flex-direction: column;
}

.sortButton {
    padding: 5px 10px;
    display: inline-block;
    border-bottom: 1px solid var(--fadedColor);
    cursor: pointer;
    text-align: center;
}

.sortButton:hover {
    background-color: #777;
}

.sortButton:first-child {
    border-top: 1px solid var(--fadedColor);
}

.sortButton.active {
    background-color: #777;
}

@media screen and (max-device-width: 480px){
    .sortButton {
        padding: 10px;
    }
}