.editSubIcon {
    width: 40px;
    position: absolute;
    right: 0px;
    top: -36px;
    cursor: pointer;
    padding: 10px;
}

.editSubIcon:hover {
    filter: contrast(0);
}

.subContainer {
    width: 100%;
    display: flex;
}

.navLink {
    cursor: pointer;
    padding: 5px 10px;
    flex-grow: 1;
}

.subLinks > div:first-child {
    border-top: 1px solid var(--fadedColor);
}

.navLink.active {
    background-color: #777;
}

.navLink:hover, .newSubBtn:hover {
    background-color: #777;
}

.newSubBtn:focus, .newSubInput {
    outline: none;
}

.subLinks {
    top: 0px;
    background-color: black;
    display: flex;
    flex-direction: column;
    position: relative;
}

.newSubDiv {
    display: flex;
    width: 100%;
}

.newSubInput {
    cursor: text;
    padding: 5px 10px;
    flex-grow: 1;
    width: 100%;
    margin: 0px;
}

.sideBarRow {
    background-color: black;
    color: white;
    border: none;
    border-bottom: 1px solid var(--fadedColor);
    font-size: 1em;
    text-align: center;
    position: relative;
}

.newSubBtn {
    width: 60px;
    border-left: 1px solid var(--fadedColor);
    cursor: pointer;
    margin: 0px;
}

.deleteSubBtn {
    background-color: black;
    color: white;
    font-size: 1.5em;
    position: absolute;
    right: 0px;
    border: none;
    border-left: 1px solid var(--fadedColor);
    cursor: pointer;
    height: 100%;
    width: 40px;
    padding: 0px;
}

.deleteSubBtn:hover {
    background-color: #777;
}

.deleteSubBtn:focus {
    outline: none;
}

.deleteSubBtn div {
    transform: rotate(45deg) translateY(-2px);
}

@media screen and (max-device-width: 600px){
    .navLink {
        padding: 10px;
    }
}