.navLink, .sortButton {
    padding: 5px 10px;
    display: inline-block;
    border-right: 1px solid var(--fadedColor);
    cursor: pointer;
}

.navLink.active {
    background-color: #777;
}

.navLink:hover, .sortButton:hover {
    background-color: #777;
}

.subLinks {
    border-bottom: 1px solid var(--fadedColor);
    position: sticky;
    top: 0px;
    background-color: black;
}